* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.wrapper {
    width: 100%;
    background-color: #2b7a78;
    height: fit-content;
}

.row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;

}

.col {
    flex-basis: 17%;

    font-size: 15px;
    align-items: center;

    font-weight: 500;
    text-align: center;
}

.col img {
    width: 100%;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.3s;
}

.heading {
    text-align: center;
    padding-top: 30px;
}

.heading h1 {
    text-decoration: underline;
    color: #fff;
}

.col p {
    margin-top: 5px;
    color: #fff;
}

.col img:hover {
    border: 3px solid #fff;
}


@media screen and (max-width:700px) {
    .row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 0px;
        flex-wrap: wrap;
        margin: 0;

    }

    .col {
        margin-bottom: 30px;
    }

    .col img {
        width: 80%;
    }

    .heading {
        margin-bottom: 30px;
    }


    .heading h1 {
        text-decoration: underline;
    }

    .col {
        flex-basis: 50%;
        font-size: 17px;
        text-align: center;
        font-weight: 600;
    }

    .col p span {
        display: flex;

    }


}

.col p i {
    font-size: 7px;
}